<!--
 * @FileName: 
 * @Author: manyao.zhu
 * @Date: 2019-12-17 11:45:19
 -->
<!DOCTYPE html>
<html>
  <head>
    <meta name='keywords' content=''>
    <meta name='description' content=''>
    <title></title>
    <link rel='stylesheet' type='text/css' href='/static/css/common/base.css' />
    <link rel="stylesheet" type='text/css' href="/static/css/common/pages.css">
    <link rel="stylesheet" type='text/css' href="/static/css/pages/index.css">
    <script type='text/javascript' src='/javascripts/jquery-3.4.1.min.js'></script>
  </head>
  <body>
    <section class="dt-contain">
      <div class="dt-content">
        <img src="/static/img/share.jpg" class='index-img' alt="">
      </div>
    </section>
  </body>
</html>
