<!--
 * @FileName: 
 * @Author: manyao.zhu
 * @Date: 2020-04-10 16:47:34
 -->
<!DOCTYPE html>
<html>
  <head>
    <meta
      name="keywords"
      content="连接科技、企业、成功、团队、人才、精神、方向"
    />
    <meta
      name="description"
      content="敏桥拥有来自一流管理咨询公司、大型知名企业的高层管理人员，不断开拓、挖掘各个领域的精英，组建了一支顶尖的行业专家、管理专家和技术专家的顾问团队，在管理咨询、技术架构、业务设计等方面具有一流的实战经验。"
    />
    <title>上海敏桥信息科技有限公司—首页</title>
    <!--样式-->
    <%- include('./common/public'); %>
  </head>
  <body>
    <section class="dt-contain">
      <!--头部-->
      <section class="dt-header-contain">
        <div class="dt-header-content">
          <img
            src="/static/img/common/logo.png"
            alt="公司logo"
            class="dt-logo"
          />
          <ul class="dt-header-list-content">
            <li class="dt-header-list">
              <a href="/" class="dt-header-jump dt-header-active-list">首页</a>
            </li>
            <li class="dt-header-list">
              <a href="/product" class="dt-header-jump">产品中心</a>
            </li>
            <li class="dt-header-list">
              <a href="/service" class="dt-header-jump">服务中心</a>
            </li>
            <li class="dt-header-list">
              <a href="/case_xbom" class="dt-header-jump">典型案例</a>
            </li>
            <li class="dt-header-list">
              <a href="/us" class="dt-header-jump">关于我们</a>
            </li>
          </ul>
        </div>
      </section>
      <!--banner部分-->
      <section class="dt-banner-contain">
        <img
          src="/static/img/index/index_banner.png"
          alt="首页banner"
          class="dt-banner-img"
        />
      </section>
      <!--功能部分-->
      <div class="dt-content">
        <ul class="dt-function-content">
          <li class="dt-function-list">
            <span class="dt-function-icon dt-team"></span>
            <P class="dt-function-title">我们的团队</P>
            <p class="dt-function-desc">
              我们的团队是齐心协力、共同奋斗、高效协作、经典创新的团队
            </p>
          </li>
          <li class="dt-function-list">
            <span class="dt-function-icon dt-talent"></span>
            <P class="dt-function-title">我们的人才</P>
            <p class="dt-function-desc">
              我们的团队人才是博学多识、厚积薄发、卓尔不群、学贯中西的
            </p>
          </li>
          <li class="dt-function-list">
            <span class="dt-function-icon dt-spirit"></span>
            <P class="dt-function-title">我们的精神</P>
            <p class="dt-function-desc">
              我们的团队精神是踔厉风发、朝气蓬勃、严谨务实、精益求精的
            </p>
          </li>
          <li class="dt-function-list">
            <span class="dt-function-icon dt-direction"></span>
            <P class="dt-function-title">我们的方向</P>
            <p class="dt-function-desc">
              我们的团队方向是集思广益、群策群力、勠力同心、共谋发展的
            </p>
          </li>
        </ul>
      </div>
      <!--我们的产品-->
      <section class="dt-production">
        <p class="dt-content-title">
          <span>我们的产品</span>
          <span class="dt-content-sub-title">Our Products</span>
        </p>
        <div class="dt-production-content">
          <img
            src="/static/img/index/production.png"
            alt="公司产品"
            class="dt-production-img"
          />
          <div class="dt-production-inner-content">
            <p class="dt-production-title">
              产品数据协作平台<span class="dt-en-production-title"
                >/ProdutCollaboration Platform</span
              >
            </p>
            <p class="dt-production-desc">支持多地团队协同的统一平台</p>
            <p class="dt-production-desc">
              使用最新的互联网开发框架以及技术， 支持超大型团队协同
            </p>
            <p class="dt-production-desc">
              借助互联网产品思维打造极致的用户体验
            </p>
            <p class="dt-production-desc">提供强大的社交实时协同能力</p>
            <p class="dt-production-desc">支持移动化终端提高协同效率</p>
            <p class="dt-production-desc">
              连通各研发专业系统以及工具实现全方位协同环境
            </p>
            <p class="dt-production-desc">端到端的产品变更流程</p>
            <button class="dt-btn dt-private-btn">
              <a href="/product" class="dt-btn-tag">查看详情</a>
            </button>
          </div>
        </div>
      </section>
      <!--我们的服务-->
      <section class="dt-service">
        <p class="dt-content-title">
          <span>我们的服务</span>
          <span class="dt-content-sub-title">Our Service</span>
        </p>
        <ul class="dt-service-content">
          <li class="dt-service-list">
            <div class="dt-service-list-content">
              <img
                src="/static/img/index/service1.png"
                alt="公司服务"
                class="dt-service-img"
              />
              <div class="dt-service-desc-content">
                <p class="dt-service-title">专业化管理咨询——</p>
                <p class="dt-service-title dt-service-last-title">
                  数字化产品开发平台发展战略规划与达索3DE实施
                </p>
                <p class="dt-service-desc">
                  核心团队在Enovia开发部署方面有超过10年的工作经验;
                </p>
                <p class="dt-service-desc">
                  团队能兼顾业务需求、性能，用户体验进行复杂的系统建模...
                </p>
              </div>
            </div>
            <div class="dt-service-list-jump">
              <p class="dt-service-number">01</p>
              <p class="dt-service-number-desc">3DE系统实施与开发</p>
              <a href="/service" class="dt-service-btn"></a>
            </div>
          </li>
          <li class="dt-service-list">
            <div class="dt-service-list-jump">
              <p class="dt-service-number">02</p>
              <p class="dt-service-number-desc">
                数字化产品开发平台发展战略规划
              </p>
              <a href="/service" class="dt-service-btn"></a>
            </div>
            <div class="dt-service-list-content">
              <img
                src="/static/img/index/service2.png"
                alt="公司服务"
                class="dt-service-img"
              />
              <div class="dt-service-desc-content">
                <p class="dt-service-title">专业化管理咨询——</p>
                <p class="dt-service-title dt-service-last-title">
                  数字化产品开发平台发展战略规划与达索3DE实施
                </p>
                <p class="dt-service-desc">
                  制定适应企业研发体系的数字化发展策略；
                </p>
                <p class="dt-service-desc">
                  帮助企业选择最佳的生态系统以适应企业独特的发展目标以及企业文化...
                </p>
              </div>
            </div>
          </li>
          <li class="dt-service-list">
            <div class="dt-service-list-content">
              <img
                src="/static/img/index/service3.png"
                alt="公司服务"
                class="dt-service-img"
              />
              <div class="dt-service-desc-content">
                <p class="dt-service-title dt-service-last-title">其他服务</p>
                <p class="dt-service-desc">PBS Professional 安装与部署</p>
                <p class="dt-service-desc">
                  LS-Dyna 集群安装， 配置与性能优化...
                </p>
              </div>
            </div>
            <div class="dt-service-list-jump">
              <p class="dt-service-number">03</p>
              <p class="dt-service-number-desc">HPC系统实施</p>
              <a href="/service" class="dt-service-btn"></a>
            </div>
          </li>
        </ul>
      </section>

      <!--我们的案例-->
      <section class="dt-case">
        <p class="dt-content-title">
          <span>我们的案例</span>
          <span class="dt-content-sub-title">Typical Case</span>
        </p>
        <div class="dt-case-content">
          <div class="dt-case-inner-content">
            <ul class="dt-case--list-content">
              <li class="dt-case-list">
                <div class="dt-case-list-desc-content">
                  <p class="dt-case-list-title">蔚来汽车XBOM系统</p>
                  <p class="dt-case-list-desc">
                    蔚来汽车与江淮汽车的合作关系是由江淮汽车代工装配，蔚来的MBOM重构时，无法获取江淮的工艺信息，BOM中的工艺属性缺失，所以需要有个转换的系统，供江淮设置BOM的工位工序、仓库地点等工艺信息，由此产生XBOM系统；后期XBOM系统承接了整车物料号管理模块业务。
                  </p>
                  <button class="dt-btn">
                    <a href="/case_xbom" class="dt-btn-tag">查看详情</a>
                  </button>
                </div>
                <img
                  src="/static/img/index/case1.png"
                  alt="公司案例"
                  class="dt-case-img"
                />
              </li>
              <li class="dt-case-list">
                <div class="dt-case-list-desc-content">
                  <p class="dt-case-list-title">蔚来汽车ALM系统</p>
                  <p class="dt-case-list-desc">
                    蔚来汽车从NP1.0到2.0的升级，需要加强对需求的可追溯性，满足业务对开发流程状态的完整可视化，加速评审流程，快速实现集成及实时可追踪等要求，因此IT信息化也需要进行同步升级，引入JAMA并与JIRA、PLM等完成数据集成，实现从需求到发布的端到端全生命周期管理。
                  </p>
                  <button class="dt-btn">
                    <a href="case_alm" class="dt-btn-tag">查看详情</a>
                  </button>
                </div>
                <img
                  src="/static/img/index/case2.png"
                  alt="公司案例"
                  class="dt-case-img"
                />
              </li>
            </ul>
          </div>
          <img
            src="/static/img/index/left.png"
            alt="公司案例切换"
            class="dt-case-btn dt-case-left"
          />
          <img
            src="/static/img/index/right.png"
            alt="公司案例切换"
            class="dt-case-btn dt-case-right"
          />
        </div>
      </section>

      <!--我们的团队-->
      <section class="dt-teams">
        <p class="dt-content-title dt-light-title">
          <span>我们的团队</span>
          <span class="dt-content-sub-title">OUR TEAM</span>
        </p>
        <div class="dt-team-content">
          <ul class="dt-team-list-content">
            <li class="dt-team-list">
              业务咨询<span class="dt-team-number">10</span>+
            </li>
            <li class="dt-team-list">
              技术架构<span class="dt-team-number">8</span>人
            </li>
            <li class="dt-team-list">
              产品设计<span class="dt-team-number">3</span>人
            </li>
            <li class="dt-team-list">
              研发及测试团队
              <span class="dt-team-number">20</span>+
            </li>
          </ul>
          <p class="dt-team-desc">
            敏桥拥有来自一流管理咨询公司、大型知名企业的高层管理人员，不断开拓、挖掘各个领域的精英，组建了一支顶尖的行业专家、管理专家和技术专家的顾问团队，在管理咨询、技术架构、业务设计等方面具有一流的实战经验。
          </p>
        </div>
      </section>

      <!--我们的合作伙伴-->
      <section class="dt-partern">
        <p class="dt-content-title">
          <span>我们的合作伙伴</span>
          <span class="dt-content-sub-title">OUR PARTERN</span>
        </p>
        <ul class="dt-partern-content">
          <li class="dt-partern-list">
            <img
              src="/static/img/index/anyong.png"
              alt="安永国创"
              class="dt-partern-img"
            />
          </li>
          <li class="dt-partern-list">
            <img
              src="/static/img/index/continental.png"
              alt="大陆集团"
              class="dt-partern-img"
            />
          </li>
          <li class="dt-partern-list">
            <img
              src="/static/img/index/midea.png"
              alt="美的集团"
              class="dt-partern-img"
            />
          </li>
          <li class="dt-partern-list">
            <img
              src="/static/img/index/nio.png"
              alt="蔚来汽车"
              class="dt-partern-img"
            />
          </li>
          <li class="dt-partern-list">
            <img
              src="/static/img/index/meizhi.png"
              alt="美芝制冷"
              class="dt-partern-img"
            />
          </li>
          <li class="dt-partern-list">
            <img
              src="/static/img/index/quick.png"
              alt="西伟德快可美"
              class="dt-partern-img"
            />
          </li>

          <li class="dt-partern-list">
            <img
              src="/static/img/index/wanhe.png"
              alt="万和电气"
              class="dt-partern-img"
            />
          </li>
          <li class="dt-partern-list">
            <img
              src="/static/img/index/guoan.png"
              alt="国安创客"
              class="dt-partern-img"
            />
          </li>
          <li class="dt-partern-list">
            <img
              src="/static/img/index/fenghuo.png"
              alt="烽火星空"
              class="dt-partern-img"
            />
          </li>
          <li class="dt-partern-list">
            <img
              src="/static/img/index/doosan.png"
              alt="斗山机械"
              class="dt-partern-img"
            />
          </li>
          <li class="dt-partern-list">
            <img
              src="/static/img/index/sichuang.png"
              alt="四创电子"
              class="dt-partern-img"
            />
          </li>
          <li class="dt-partern-list">
            <img
              src="/static/img/index/zhongdian.png"
              alt="安徽电信工程"
              class="dt-partern-img"
            />
          </li>
        </ul>
      </section>

      <!--底部-->
      <%- include('./common/footer'); %>
    </section>
  </body>
</html>
