<!--
 * @FileName: 
 * @Author: manyao.zhu
 * @Date: 2020-04-10 16:47:34
 -->
<!DOCTYPE html>
<html>
  <head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/css/common/base.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/common/pages.css"
    />
    <link rel="stylesheet" type="text/css" href="/static/css/pages/index.css" />
    <script
      type="text/javascript"
      src="/javascripts/jquery-3.4.1.min.js"
    ></script>
  </head>
  <body>
    <section class="dt-contain">
      <!--头部-->
      <section class="dt-header-contain">
        <div class="dt-header-content">
          <img
            src="/static/img/common/logo.png"
            alt="公司logo"
            class="dt-logo"
          />
          <ul class="dt-header-list-content">
            <li class="dt-header-list">
              <a href="/" class="dt-header-jump dt-header-active-list">首页</a>
            </li>
            <li class="dt-header-list">
              <a href="/" class="dt-header-jump">产品中心</a>
            </li>
            <li class="dt-header-list">
              <a href="/" class="dt-header-jump">服务中心</a>
            </li>
            <li class="dt-header-list">
              <a href="/" class="dt-header-jump">典型案例</a>
            </li>
            <li class="dt-header-list">
              <a href="/" class="dt-header-jump">关于我们</a>
            </li>
          </ul>
        </div>
      </section>
      <!--banner部分-->
      <section class="dt-banner-contain">
        <img
          src="/static/img/index/index_banner.png"
          alt="首页banner"
          class="dt-banner-img"
        />
      </section>
      <!--功能部分-->
      <div class="dt-content">
        <ul class="dt-function-content">
          <li class="dt-function-list">
            <span class="dt-function-icon dt-team"></span>
            <P class="dt-function-title">我们的团队</P>
            <p class="dt-function-desc">
              我们的团队是齐心协力、共同奋斗、高效协作、经典创新的团队
            </p>
          </li>
          <li class="dt-function-list">
            <span class="dt-function-icon dt-talent"></span>
            <P class="dt-function-title">我们的人才</P>
            <p class="dt-function-desc">
              我们的团队人才是博学多识、厚积薄发、卓尔不群、学贯中西的
            </p>
          </li>
          <li class="dt-function-list">
            <span class="dt-function-icon dt-spirit"></span>
            <P class="dt-function-title">我们的精神</P>
            <p class="dt-function-desc">
              我们的团队精神是踔厉风发、朝气蓬勃、严谨务实、精益求精的
            </p>
          </li>
          <li class="dt-function-list">
            <span class="dt-function-icon dt-direction"></span>
            <P class="dt-function-title">我们的方向</P>
            <p class="dt-function-desc">
              我们的团队方向是集思广益、群策群力、勠力同心、共谋发展的
            </p>
          </li>
        </ul>
      </div>
      <!--我们的产品-->
      <section class="dt-production">
        <p class="dt-content-title">
          <span>我们的产品</span>
          <span class="dt-content-sub-title">Our products</span>
        </p>
        <div class="dt-production-content">
          <img
            src="/static/img/index/production.png"
            alt="公司产品"
            class="dt-production-img"
          />
          <div class="dt-production-inner-content">
            <p class="dt-production-title">
              产品数据协作平台<span class="dt-en-production-title"
                >/ProdutCollaboration Platform</span
              >
            </p>
            <p class="dt-production-desc">支持多地团队协同的统一平台</p>
            <p class="dt-production-desc">
              使用最新的互联网开发框架以及技术， 支持超大型团队协同
            </p>
            <p class="dt-production-desc">
              借助互联网产品思维打造极致的用户体验
            </p>
            <p class="dt-production-desc">提供强大的社交实时协同能力</p>
            <p class="dt-production-desc">支持移动化终端提高协同效率</p>
            <p class="dt-production-desc">
              连通各研发专业系统以及工具实现全方位协同环境
            </p>
            <p class="dt-production-desc">端到端的产品变更流程</p>
            <button class="dt-btn">
              <a href="" class="dt-btn-tag">查看详情</a>
            </button>
          </div>
        </div>
      </section>
      <!--我们的服务-->
      <section class="dt-service">
        <p class="dt-content-title">
          <span>我们的服务</span>
          <span class="dt-content-sub-title">Our services</span>
        </p>
        <ul class="dt-service-content">
          <li class="dt-service-list">
            <div class="dt-service-list-content">
              <img
                src="/static/img/index/service1.png"
                alt="公司服务"
                class="dt-service-img"
              />
              <div class="dt-service-desc-content">
                <p class="dt-service-title">专业化管理咨询——</p>
                <p class="dt-service-title dt-service-last-title">
                  数字化产品开发平台发展战略规划与达索3DE实施
                </p>
                <p class="dt-service-desc">
                  核心团队在Enovia开发部署方面有超过10年的工作经验;
                </p>
                <p class="dt-service-desc">
                  团队能兼顾业务需求、性能，用户体验进行复杂的系统建模...
                </p>
              </div>
            </div>
            <div class="dt-service-list-jump">
              <p class="dt-service-number">01</p>
              <p class="dt-service-number-desc">3DE系统实施与开发</p>
              <a href="" class="dt-service-btn"></a>
            </div>
          </li>
          <li class="dt-service-list">
            <div class="dt-service-list-jump">
              <p class="dt-service-number">02</p>
              <p class="dt-service-number-desc">
                数字化产品开发平台发展战略规划
              </p>
              <a href="" class="dt-service-btn"></a>
            </div>
            <div class="dt-service-list-content">
              <img
                src="/static/img/index/service2.png"
                alt="公司服务"
                class="dt-service-img"
              />
              <div class="dt-service-desc-content">
                <p class="dt-service-title">专业化管理咨询——</p>
                <p class="dt-service-title dt-service-last-title">
                  数字化产品开发平台发展战略规划与达索3DE实施
                </p>
                <p class="dt-service-desc">
                  制定适应企业研发体系的数字化发展策略；
                </p>
                <p class="dt-service-desc">
                  帮助企业选择最佳的生态系统以适应企业独特的发展目标以及企业文化...
                </p>
              </div>
            </div>
          </li>
          <li class="dt-service-list">
            <div class="dt-service-list-content">
              <img
                src="/static/img/index/service1.png"
                alt="公司服务"
                class="dt-service-img"
              />
              <div class="dt-service-desc-content">
                <p class="dt-service-title dt-service-last-title">其他服务</p>
                <p class="dt-service-desc">PBS Professional 安装与部署</p>
                <p class="dt-service-desc">
                  LS-Dyna 集群安装， 配置与性能优化...
                </p>
              </div>
            </div>
            <div class="dt-service-list-jump">
              <p class="dt-service-number">03</p>
              <p class="dt-service-number-desc">HPC系统实施</p>
              <a href="" class="dt-service-btn"></a>
            </div>
          </li>
        </ul>
      </section>

      <!--我们的案例-->
      <section class="dt-case">
        <p class="dt-content-title">
          <span>我们的案例</span>
          <span class="dt-content-sub-title">Typical case</span>
        </p>
      </section>

      <!--底部-->
      <%- include('./common/footer'); %>
    </section>

    <script type="text/javascript" src="/static/js/index.js"></script>
  </body>
</html>
