<!--
 * @FileName: 
 * @Author: manyao.zhu
 * @Date: 2020-04-22 18:08:47
-->
<!DOCTYPE html>
<html>
  <meta http-equiv="Refresh" content="2; url=/" />
  <head>
    <style rel="stylesheet" type="text/css">
      .dt-error {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #e6eaed;
      }

      .dt-tips {
        margin-top: 10px;
      }

      .dt-jump {
        color: #4dc2c2;
      }
    </style>
  </head>
  <body>
    <section class="dt-error">
      <img src="/static/img/common/error.jpg" alt="" class="dt-error-img" />
      <div class="dt-tips">
        <a href="/" class="dt-jump">正在为您重新跳转 ...</a>
      </div>
    </section>
  </body>
</html>
