<!--
 * @FileName: 
 * @Author: manyao.zhu
 * @Date: 2020-04-22 11:46:50
 -->
<!DOCTYPE html>
<html>
  <head>
    <meta
      name="keywords"
      content="端到端、产品、研发、协同、平台建设、PCP、3D协同设计、软硬件协同设计、企业级BOM、软件生命周期管理、项目管理与敏捷开发 "
    />
    <meta
      name="description"
      content="PCP是为企业产品正向开发体系提供系统平台支持，通过连接、提升和协同各个研发子系统建立端到端的产品开发全流程，把产品开发过程中涉及的人员、数据、工具、任务、流程放在一个统一平台上，全面提升产品研发协同效率，为各业务领域提供支持"
    />
    <title>上海敏桥信息科技有限公司—产品中心</title>
    <!--样式-->
    <%- include('./common/public'); %>
  </head>
  <body>
    <section class="dt-contain">
      <!--头部-->
      <section class="dt-header-contain">
        <div class="dt-header-content">
          <img
            src="/static/img/common/logo.png"
            alt="公司logo"
            class="dt-logo"
          />
          <ul class="dt-header-list-content">
            <li class="dt-header-list">
              <a href="/" class="dt-header-jump">首页</a>
            </li>
            <li class="dt-header-list">
              <a href="/product" class="dt-header-jump dt-header-active-list"
                >产品中心</a
              >
            </li>
            <li class="dt-header-list">
              <a href="/service" class="dt-header-jump">服务中心</a>
            </li>
            <li class="dt-header-list">
              <a href="/case_xbom" class="dt-header-jump">典型案例</a>
            </li>
            <li class="dt-header-list">
              <a href="/us" class="dt-header-jump">关于我们</a>
            </li>
          </ul>
        </div>
      </section>
      <!--banner部分-->
      <section class="dt-banner-contain">
        <img
          src="/static/img/product/product_banner.png"
          alt="首页banner"
          class="dt-banner-img"
        />
      </section>

      <!--核心产品-->
      <section class="dt-product">
        <p class="dt-content-title dt-private-title">
          <span>核心产品--PCP </span>
          <span class="dt-content-sub-title">
            Product Collaboration Platform
          </span>
        </p>
        <div class="dt-product-content">
          <p class="de-product-desc">
            PCP是为企业产品正向开发体系提供系统平台支持，通过连接、提升和协同各个研发子系统建立端到端的产品开发全流程，把产品开发过程中涉及的人员、数据、工具、任务、流程放在一个统一平台上，全面提升产品研发协同效率，为各业务领域提供支持。
          </p>
          <ul class="dt-product-contain">
            <li class="dt-product-list">
              <img
                src="/static/img/product/system.png"
                alt="核心产品"
                class="dt-product-img"
              />
              <p class="dt-product-title">对研发的支持</p>
              <p class="dt-product-desc">
                支持3D协同设计，供应商协同设计以及工程与工艺的协同，加强协同以提升效率和质量
              </p>
            </li>
            <li class="dt-product-list">
              <img
                src="/static/img/product/computer.png"
                alt="核心产品"
                class="dt-product-img"
              />
              <p class="dt-product-title">对软件的支持</p>
              <p class="dt-product-desc">
                支持软件与硬件的协同，统一管理软件包及标定文件的发布，保证软件质量
              </p>
            </li>
            <li class="dt-product-list">
              <img
                src="/static/img/product/sale.png"
                alt="核心产品"
                class="dt-product-img"
              />
              <p class="dt-product-title">对销售的支持</p>
              <p class="dt-product-desc">
                始终尊崇与信赖专业精神，我们聘请系统架构、计算机、自动化等顶尖专家
              </p>
            </li>
            <li class="dt-product-list">
              <img
                src="/static/img/product/purchase.png"
                alt="核心产品"
                class="dt-product-img"
              />
              <p class="dt-product-title">对采购的支持</p>
              <p class="dt-product-desc">
                支持寻源定点，支持量产合同的签订
              </p>
            </li>
            <li class="dt-product-list">
              <img
                src="/static/img/product/money.png"
                alt="核心产品"
                class="dt-product-img"
              />
              <p class="dt-product-title">对财务的支持</p>
              <p class="dt-product-desc">
                全配置化PCP管理模式下拥有整车成本的核算方案
              </p>
            </li>
            <li class="dt-product-list">
              <img
                src="/static/img/product/setting.png"
                alt="核心产品"
                class="dt-product-img"
              />
              <p class="dt-product-title">对制造的支持</p>
              <p class="dt-product-desc">
                一体化数字化制造与运营平台
              </p>
            </li>
            <li class="dt-product-list">
              <img
                src="/static/img/product/qualtity.png"
                alt="核心产品"
                class="dt-product-img"
              />
              <p class="dt-product-title">对质量的支持</p>
              <p class="dt-product-desc">
                整车配置符合性检查表的多样化，也需要信息化解决方案来提高效率
              </p>
            </li>
            <li class="dt-product-list">
              <img
                src="/static/img/product/customer_service.png"
                alt="核心产品"
                class="dt-product-img"
              />
              <p class="dt-product-title">对售后的支持</p>
              <p class="dt-product-desc">
                产线数据汇总满足售后对产品数据追溯的需求
              </p>
            </li>
          </ul>
        </div>
      </section>

      <!--PCP核心功能-->
      <section class="dt-function">
        <p class="dt-content-title">
          <span>PCP核心功能 </span>
          <span class="dt-content-sub-title">
            Product Collaboration Platform
          </span>
        </p>

        <ul class="dt-group">
          <li class="dt-group-list">
            <div class="dt-group-content">
              <p class="dt-group-title">（1）3D协同设计</p>
              <p class="dt-group-desc">
                基于3D数据的交互式交流加速产品数据传递流程
              </p>
              <p class="dt-group-desc">
                支持多种3D数据格式，无需工程3D设计软件许可支持
              </p>
              <p class="dt-group-desc">
                工程3D数据自动轻量化处理，便于共享
              </p>
              <p class="dt-group-desc">
                支持工程3D数据重用
              </p>
              <p class="dt-group-desc">
                3D数据同步更新及影响分析
              </p>
              <p class="dt-group-desc">
                支持企业级数据批处理
              </p>
            </div>
            <img
              src="/static/img/product/3d.png"
              alt="PCP核心功能"
              class="dt-group-img"
            />
          </li>
          <li class="dt-group-list">
            <img
              src="/static/img/product/soft.png"
              alt="PCP核心功能"
              class="dt-group-img"
            />
            <div class="dt-group-content">
              <p class="dt-group-title">（2）软硬件协同设计</p>
              <p class="dt-group-desc">
                从产品的需求定义开始软硬件协同
              </p>
              <p class="dt-group-desc">
                端到端的变更追溯管理
              </p>
              <p class="dt-group-desc">
                一体化的软硬件BOM管理与配置管理
              </p>
              <p class="dt-group-desc">
                提供软硬件版本的兼容性管理
              </p>
              <p class="dt-group-desc">
                软硬件协同的产品数据发布与变更流程
              </p>
            </div>
          </li>
          <li class="dt-group-list">
            <div class="dt-group-content">
              <p class="dt-group-title">（3）企业级BOM</p>
              <p class="dt-group-desc">
                支持正向产品研发流程
              </p>
              <p class="dt-group-desc">
                无缝集成PLM系统(3DE/Teamcenter)，一体化的EBOM/MBOM
              </p>
              <p class="dt-group-desc">
                支持超级BOM管理模式以及模块化产品设计
              </p>
              <p class="dt-group-desc">
                覆盖市场， 工程以及制造的企业级产品配置解决方案
              </p>
              <p class="dt-group-desc">
                高性能BOM配置解析
              </p>
              <p class="dt-group-desc">
                基于Web的高性能BOM展示技术
              </p>
              <p class="dt-group-desc">
                通过可配置BOM驱动3D虚拟产品
              </p>
              <p class="dt-group-desc">
                无缝集成数字化工艺平台
              </p>
            </div>
            <img
              src="/static/img/product/bom.png"
              alt="PCP核心功能"
              class="dt-group-img"
            />
          </li>
          <li class="dt-group-list">
            <img
              src="/static/img/product/life.png"
              alt="PCP核心功能"
              class="dt-group-img"
            />
            <div class="dt-group-content">
              <p class="dt-group-title">（4）软件生命周期管理</p>
              <p class="dt-group-desc">
                提供集成开发平台，支持与JAMA ALM软件集成
              </p>
              <p class="dt-group-desc">
                提供集成开发平台，支持与JAMA ALM软件集成
              </p>
              <p class="dt-group-desc">
                帮助梳理与优化软件开发流程，满足IOS26262等法规要求
              </p>
              <p class="dt-group-desc">
                提供测试用例管理、测试自动化及仿真测试等解决方案
              </p>
              <p class="dt-group-desc">
                方案设计，变更等实时通知，线上评审，提高效率，降低风险
              </p>
              <p class="dt-group-desc">
                统一管理软件的版本发布，支持研发、生产、售后及OTA领域
              </p>
            </div>
          </li>
          <li class="dt-group-list">
            <div class="dt-group-content">
              <p class="dt-group-title">（5）项目管理与敏捷开发</p>
              <p class="dt-group-desc">
                按敏捷管理框架组建项目团队
              </p>
              <p class="dt-group-desc">
                定期组织各种敏捷迭代会议
              </p>
              <p class="dt-group-desc">
                所有团队已经在敏捷开发框架下工作多年，效果显著
              </p>
              <p class="dt-group-desc">
                团队具备强大的产品思维能力以及工作实践
              </p>
              <p class="dt-group-desc">
                团队已摸索出在PLM/ALM领域应用敏捷产品开发的最佳实践
              </p>
              <p class="dt-group-desc">
                正常每2周为一个迭代周期
              </p>
              <p class="dt-group-desc">
                团队掌握各种平台的DevOps经验
              </p>
              <p class="dt-group-desc">
                团队能高效地使用Jira作为敏捷开发的管理平台
              </p>
            </div>
            <img
              src="/static/img/product/manager.png"
              alt="PCP核心功能"
              class="dt-group-img"
            />
          </li>
          <li class="dt-group-list">
            <img
              src="/static/img/product/number.png"
              alt="PCP核心功能"
              class="dt-group-img"
            />
            <div class="dt-group-content">
              <p class="dt-group-title">（6）数字化制造与运营</p>
              <p class="dt-group-desc">
                无缝集成3DE Delmia平台
              </p>
              <p class="dt-group-desc">
                能根据实际业务定制最佳的Delmia数据模型
              </p>
              <p class="dt-group-desc">
                熟练运用Delmia进行整车级的工艺规划/设计/仿真优化/验证
              </p>
              <p class="dt-group-desc">
                整合工程/工艺变更管理流程， 使变更落地到车间
              </p>
              <p class="dt-group-desc">
                无缝连接产品设计数据， 实现产品到制造的信息协同
              </p>
              <p class="dt-group-desc">
                连接物料与工艺并实现数据协同发布
              </p>
              <p class="dt-group-desc">
                动态自动化工艺文档
              </p>
              <p class="dt-group-desc">
                工艺文档无纸化交付到车间
              </p>
              <p class="dt-group-desc">
                支持多工厂制造运营
              </p>
              <p class="dt-group-desc">
                支持按订单的个性化制造模式
              </p>
            </div>
          </li>
          <li class="dt-group-list">
            <div class="dt-group-content">
              <p class="dt-group-title">（7）工具链管理</p>
              <p class="dt-group-desc">
                需求管理： JIRA，JAMA
              </p>
              <p class="dt-group-desc">
                设计仿真：Matlab，DSPACE，ANSYS， CATIA， DELMIA
              </p>
              <p class="dt-group-desc">
                开发工具：Mentor, Vector, VSA COM, Eclipse, Visical Studio
              </p>
              <p class="dt-group-desc">
                代码管理：SVN，GIT
              </p>
              <p class="dt-group-desc">
                测试管理：Simulink，CANoe，Bugzilla，TestRail
              </p>
              <p class="dt-group-desc">
                运维管理：TureSight，ELK，zabbix，Jenkins
              </p>
            </div>
            <img
              src="/static/img/product/tool.png"
              alt="PCP核心功能"
              class="dt-group-img"
            />
          </li>
        </ul>
      </section>
      <!--底部--->

      <%- include('./common/footer') %>
    </section>
  </body>
</html>
