<!--
 * @FileName: 
 * @Author: manyao.zhu
 * @Date: 2020-04-22 11:47:51
 -->
<!DOCTYPE html>
<html>
  <head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/css/common/base.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/common/pages.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/pages/service.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/common/group.css"
    />
    <script
      type="text/javascript"
      src="/javascripts/jquery-3.4.1.min.js"
    ></script>
  </head>
  <body>
    <section class="dt-contain">
      <!--头部-->
      <section class="dt-header-contain">
        <div class="dt-header-content">
          <img
            src="/static/img/common/logo.png"
            alt="公司logo"
            class="dt-logo"
          />
          <ul class="dt-header-list-content">
            <li class="dt-header-list">
              <a href="/" class="dt-header-jump">首页</a>
            </li>
            <li class="dt-header-list">
              <a href="/product" class="dt-header-jump">产品中心</a>
            </li>
            <li class="dt-header-list">
              <a href="/service" class="dt-header-jump dt-header-active-list"
                >服务中心</a
              >
            </li>
            <li class="dt-header-list">
              <a href="/case_xbom" class="dt-header-jump">典型案例</a>
            </li>
            <li class="dt-header-list">
              <a href="/us" class="dt-header-jump">关于我们</a>
            </li>
          </ul>
        </div>
      </section>
      <!--banner部分-->
      <section class="dt-banner-contain">
        <img
          src="/static/img/service/service_banner.png"
          alt="首页banner"
          class="dt-banner-img"
        />
      </section>
      <!--我的门服务-->
      <section class="dt-service">
        <p class="dt-content-title">
          <span>我们的服务</span>
          <span class="dt-content-sub-title">
            Products and Services
          </span>
        </p>
        <ul class="dt-group">
          <li class="dt-group-list">
            <div class="dt-group-content">
              <p class="dt-group-title">（1）3DE系统实施与开发</p>
              <p class="dt-group-desc">
                核心团队在Enovia开发部署方面有超过10年的工作经验
              </p>
              <p class="dt-group-desc">
                团队能兼顾业务需求、性能，用户体验进行复杂的系统建模
              </p>
              <p class="dt-group-desc">
                掌握有多套开发环境协同的技术
              </p>
              <p class="dt-group-desc">
                按互联网模式建立的代码管理，迭代与发布管理、自动化测试以及自动化部署
              </p>
              <p class="dt-group-desc">
                提供3DE扩展开发套件包括消息引擎，规则管理器。流程配置管理器等，极大提高开发效率
              </p>
              <p class="dt-group-desc">
                在3DE平台上提供嵌入式的前端开发技术，极大提高用户体验
              </p>
              <p class="dt-group-desc">
                自主的3DE集成套件，轻松连接上下游系统
              </p>
              <p class="dt-group-desc">
                自主开发的数据转化引擎并连接数据交换系统
              </p>
              <p class="dt-group-desc">
                自主开发的Enovia与CatiaCAA的混合开发平台
              </p>
              <p class="dt-group-desc">
                有丰富的3DE分布式部署运营经营
              </p>
              <p class="dt-group-desc">
                有丰富的3DE许可证管理经验，能提供最优的解决方案
              </p>
            </div>
            <img
              src="/static/img/service/system.png"
              alt="公司的服务"
              class="dt-group-img"
            />
          </li>
          <li class="dt-group-list">
            <img
              src="/static/img/service/number.png"
              alt="公司的服务"
              class="dt-group-img"
            />
            <div class="dt-group-content">
              <p class="dt-group-title">（2）数字化产品开发平台发展战略规划</p>
              <p class="dt-group-desc">
                制定适应企业研发体系的数字化发展策略
              </p>
              <p class="dt-group-desc">
                帮助企业选择最佳的生态系统以适应企业独特的发展目标以及企业文化
              </p>
              <p class="dt-group-desc">
                通过梳理业务以及数字化应用帮助企业横跨技术、业务流程，基础建设快速识别关键改进机会
              </p>
              <p class="dt-group-desc">
                根据企业的发展规划识别各阶段关键业务需求并制定详细的系统实施路径
              </p>
            </div>
          </li>
          <li class="dt-group-list">
            <div class="dt-group-content">
              <p class="dt-group-title">（3）HPC系统实施</p>
              <p class="dt-group-desc">
                PBS Professional 安装与部署
              </p>
              <p class="dt-group-desc">
                LS-Dyna 集群安装， 配置与性能优化
              </p>
              <p class="dt-group-desc">
                StarCCM 集群安装， 配置与性能优化
              </p>
              <p class="dt-group-desc">
                Powerflow 集群安装， 配置与性能优化
              </p>
              <p class="dt-group-desc">
                Abaqus， Nastran， OptiStruct安装与配置
              </p>
              <p class="dt-group-desc">
                SDM系统集成
              </p>
              <p class="dt-group-desc">
                VDI 系统集成
              </p>
            </div>
            <img
              src="/static/img/service/hpc.png"
              alt="公司的服务"
              class="dt-group-img"
            />
          </li>
        </ul>
      </section>
      <!--其他服务-->
      <section class="dt-other-service">
        <p class="dt-content-title">
          <span>其他服务</span>
          <span class="dt-content-sub-title">
            Products and Services
          </span>
        </p>
        <ul class="dt-other-service-content">
          <li class="dt-other-service-list">
            <img
              src="/static/img/service/before_sale.png"
              alt="其他服务"
              class="dt-other-service-img"
            />
            <img
              src="/static/img/service/before_sale_icon.png"
              alt="其他服务"
              class="dt-other-service-icon"
            />
            <div class="dt-other-service-desc-content">
              <p class="dt-other-service-title">售前服务</p>
              <p class="dt-other-service-desc">现场调研</p>
              <p class="dt-other-service-desc">需求分析</p>
              <p class="dt-other-service-desc">宏观解决方案</p>
            </div>
          </li>
          <li class="dt-other-service-list">
            <img
              src="/static/img/service/pending_sale.png"
              alt="其他服务"
              class="dt-other-service-img"
            />
            <img
              src="/static/img/service/pending_sale_icon.png"
              alt="其他服务"
              class="dt-other-service-icon"
            />
            <div class="dt-other-service-desc-content">
              <p class="dt-other-service-title">售中服务</p>
              <p class="dt-other-service-desc">详细设计</p>
              <p class="dt-other-service-desc">可视化建模</p>
              <p class="dt-other-service-desc">里程碑式开发</p>
              <p class="dt-other-service-desc">高效测试</p>
              <p class="dt-other-service-desc">岗位专训</p>
            </div>
          </li>
          <li class="dt-other-service-list">
            <img
              src="/static/img/service/after_sale.png"
              alt="其他服务"
              class="dt-other-service-img"
            />
            <img
              src="/static/img/service/after_sale_icon.png"
              alt="其他服务"
              class="dt-other-service-icon"
            />
            <div class="dt-other-service-desc-content">
              <p class="dt-other-service-title">售后服务</p>
              <p class="dt-other-service-desc">系统安装和补丁升级</p>
              <p class="dt-other-service-desc">远程系统支持</p>
              <p class="dt-other-service-desc">交流与培训</p>
              <p class="dt-other-service-desc">现场支持</p>
              <p class="dt-other-service-desc">定期巡检</p>
              <p class="dt-other-service-desc">系统应用支持</p>
            </div>
          </li>
        </ul>
      </section>

      <!--底部-->
      <%- include('./common/footer') %>
    </section>
  </body>
</html>
