<!--
 * @FileName: 
 * @Author: manyao.zhu
 * @Date: 2020-04-22 11:47:51
 -->
<!DOCTYPE html>
<html>
  <head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/css/common/base.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/common/pages.css"
    />
    <link rel="stylesheet" type="text/css" href="/static/css/pages/us.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/common/group.css"
    />
    <script
      type="text/javascript"
      src="/javascripts/jquery-3.4.1.min.js"
    ></script>
  </head>
  <body>
    <section class="dt-contain">
      <!--头部-->
      <section class="dt-header-contain">
        <div class="dt-header-content">
          <img
            src="/static/img/common/logo.png"
            alt="公司logo"
            class="dt-logo"
          />
          <ul class="dt-header-list-content">
            <li class="dt-header-list">
              <a href="/" class="dt-header-jump">首页</a>
            </li>
            <li class="dt-header-list">
              <a href="/product" class="dt-header-jump">产品中心</a>
            </li>
            <li class="dt-header-list">
              <a href="/service" class="dt-header-jump">服务中心</a>
            </li>
            <li class="dt-header-list">
              <a href="/case_xbom" class="dt-header-jump">典型案例</a>
            </li>
            <li class="dt-header-list">
              <a href="/us" class="dt-header-jump dt-header-active-list"
                >关于我们</a
              >
            </li>
          </ul>
        </div>
      </section>
      <!--banner部分-->
      <section class="dt-banner-contain">
        <img
          src="/static/img/us/us_banner.png"
          alt="首页banner"
          class="dt-banner-img"
        />
      </section>
      <!--关于我们-->
      <section class="dt-us">
        <p class="dt-content-title">
          <span>关于我们</span>
          <span class="dt-content-sub-title">
            Classic Case
          </span>
        </p>
        <ul class="dt-group">
          <li class="dt-group-list">
            <img
              src="/static/img/us/company.png"
              alt="经典案例"
              class="dt-group-img"
            />
            <div class="dt-group-content">
              <p class="dt-group-title">
                公司简介
                <span class="dt-group-en-title">/ Who we are</span>
              </p>
              <p class="dt-group-desc">
                上海敏桥信息科技有限公司（以下简称“敏桥”）成立于2018年8月23日，是安徽深迪科技有限公司控股子公司，敏桥坐落于美丽的“东方巴黎”上海自由贸易试验区。敏桥作为新兴的国内制造行业数字化智能制造的专业技术供应商，致力于提升整车或部件生产厂商的生产及执行管理能力、在线质量管理能力、供应链管理能力、数据价值挖掘能力等，为国内制造厂商提供专业的应用系统产品和整体解决方案。
              </p>
            </div>
          </li>
          <li class="dt-group-list">
            <div class="dt-group-content">
              <p class="dt-group-title">
                团队理念
                <span class="dt-group-en-title">/ Team Concept</span>
              </p>
              <p class="dt-group-desc">
                敏桥秉承诚信、规范、高效的工作原则，用技术赢得市场，以创意服务取得信誉，竭诚为广大客户提供优质、高效、快捷的服务。
              </p>
              <p class="dt-group-desc">
                敏桥策划团队追求“专业+经验+创新+责任”的整体形象，使公众建立对“敏桥”的品牌忠诚度，提升“敏桥”的品牌影响力，加强公众对敏桥的信赖。
              </p>
            </div>
            <img
              src="/static/img/us/concept.png"
              alt="经典案例"
              class="dt-group-img"
            />
          </li>
        </ul>
      </section>
      <!--我们的优势-->
      <section class="dt-advantage">
        <p class="dt-content-title">
          <span>我们的优势</span>
          <span class="dt-content-sub-title">
            Our strengths
          </span>
        </p>
        <ul class="dt-advantage-content">
          <li class="dt-advantage-list">
            <img
              src="/static/img/us/advantage1.png"
              alt="公司优势"
              class="dt-advantage-img"
            />
          </li>
          <li class="dt-advantage-list dt-advantage-desc-content">
            <p class="dt-advantage-title">01</p>
            <p class="dt-advantage-desc">
              始终尊崇与信赖专业精神，我们聘请系统架构、计算机、自动化等顶尖专家。
            </p>
          </li>
          <li class="dt-advantage-list">
            <img
              src="/static/img/us/advantage2.png"
              alt="公司优势"
              class="dt-advantage-img"
            />
          </li>
          <li class="dt-advantage-list dt-advantage-desc-content">
            <p class="dt-advantage-title">02</p>
            <p class="dt-advantage-desc">
              目前，数学和计算机自动化专业人员占公司总人数80%以上。
            </p>
          </li>
          <li class="dt-advantage-list dt-advantage-desc-content">
            <p class="dt-advantage-title">03</p>
            <p class="dt-advantage-desc">
              我们还拥有汽车行业经验丰富的咨询顾问和专家。
            </p>
          </li>
          <li class="dt-advantage-list">
            <img
              src="/static/img/us/advantage3.png"
              alt="公司优势"
              class="dt-advantage-img"
            />
          </li>
          <li class="dt-advantage-list dt-advantage-desc-content">
            <p class="dt-advantage-title">04</p>
            <p class="dt-advantage-desc">
              我们从企业的订单排程到智能制造，从产品的质量追溯到大数据分析，敏桥承诺给予客户最大的关注和支持，致力于帮助企业持续提升市场竞争力。
            </p>
          </li>
          <li class="dt-advantage-list">
            <img
              src="/static/img/us/advantage4.png"
              alt="公司优势"
              class="dt-advantage-img"
            />
          </li>
        </ul>
      </section>

      <!--底部-->
      <%- include('./common/footer') %>
    </section>
  </body>
</html>
