<!--
 * @FileName: 
 * @Author: manyao.zhu
 * @Date: 2020-04-20 16:20:25
 -->
<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/common/footer.css"
    />
  </head>
  <body>
    <section class="dt-footer-contain">
      <div class="dt-footer-content">
        <div class="dt-footer-title">
          <p class="dt-zh_CN">联系我们</p>
          Contact us
        </div>
        <div class="dt-footer-inner-content">
          <div class="dt-footer-left-content">
            <div class="dt-footer-left">
              <img
                src="/static/img/common/location.png"
                alt="公司地址"
                class="footer-left-icon"
              />
              <p class="footer-left-desc">
                中国（上海）自由贸易试验区芳春路400号1幢3层
              </p>
            </div>
            <div class="dt-footer-left">
              <img
                src="/static/img/common/tel.png"
                alt="公司电话"
                class="footer-left-icon"
              />
              <p class="footer-left-desc">0551-62879252</p>
            </div>
            <div class="dt-footer-left">
              <img
                src="/static/img/common/email.png"
                alt="公司邮箱"
                class="footer-left-icon"
              />
              <p class="footer-left-desc">info@agilines.com</p>
            </div>
          </div>
          <div class="dt-footer-right-content">
            <img src="" alt="公司二维码" class="dt-footer-right-icon" />
            <p class="dt-footer-right-desc">扫一扫，关注公众号</p>
          </div>
        </div>
        <div class="dt-cp">
          <a
            target="_blank"
            href="http://www.beian.miit.gov.cn"
            class="dt-inner-cp"
            >CP证号：皖ICP备16017766号</a
          >
        </div>
      </div>
    </section>
  </body>
</html>
