/*功能的样式*/
.dt-function-content {
  width: 100%;
  height: 15.625vw;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8.854167vw;
}

.dt-function-list {
  width: 14.583333vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5625vw 1.822917vw;
  border: 1px solid rgba(238, 238, 238, 1);
}

.dt-function-icon {
  width: 4.010417vw;
  height: 4.010417vw;
  margin-bottom: 1.041667vw;
}

.dt-function-title {
  font-size: 1.041667vw;
  color: #444444;
  margin-bottom: 2.03125vw;
}

.dt-function-desc {
  font-size: 0.833333vw;
  color: #999999;
  text-align: center;
}

.dt-team {
  background: url('/static/img/index/team.png') no-repeat 0 0/100% 100%;
}
.dt-talent {
  background: url('/static/img/index/talent.png') no-repeat 0 0/100% 100%;
}
.dt-spirit {
  background: url('/static/img/index/spirit.png') no-repeat 0 0/100% 100%;
}
.dt-direction {
  background: url('/static/img/index/direction.png') no-repeat 0 0/100% 100%;
}

.dt-function-list:hover {
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.09);
}

.dt-function-list:hover .dt-team {
  background: url('/static/img/index/team_active.png') no-repeat 0 0/100% 100%;
}
.dt-function-list:hover .dt-talent {
  background: url('/static/img/index/talent_active.png') no-repeat 0 0/100% 100%;
}
.dt-function-list:hover .dt-spirit {
  background: url('/static/img/index/spirit_active.png') no-repeat 0 0/100% 100%;
}
.dt-function-list:hover .dt-direction {
  background: url('/static/img/index/direction_active.png') no-repeat 0 0/100%
    100%;
}

/*我们的产品的样式*/
.dt-production {
  width: 100%;
  margin-bottom: 8.854167vw;
}

.dt-production-content {
  width: 100%;
  height: 32.864583vw;
  display: flex;
}

.dt-production-img {
  width: 47.395833vw;
  height: 100%;
}

.dt-production-inner-content {
  flex: 1;
  padding: 4.479167vw 0 0 2.8125vw;
  background: rgba(233, 233, 234, 1);
}

.dt-production-title {
  font-size: 1.354167vw;
  color: #333333;
  position: relative;
  margin-bottom: 3.4375vw;
}

.dt-production-title::before {
  display: inline-block;
  width: 1.71875vw;
  height: 0.052083vw;
  content: '';
  background: #333;
  position: absolute;
  left: 0;
  bottom: -0.625vw;
}

.dt-en-production-title {
  font-size: 1.041667vw;
  color: #666666;
  margin-left: 0.677083vw;
}

.dt-production-desc {
  font-size: 0.9375vw;
  color: #515151;
  margin-bottom: 1.041667vw;
}
/*我们的服务的样式*/
.dt-service {
  width: 100%;
  margin-bottom: 8.489583vw;
}
.dt-service-content {
  width: 67.708333vw;
  margin: 0 auto;
}

.dt-service-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.71875vw;
}

.dt-service-list-content {
  width: 48.802083vw;
  height: 13.697917vw;
  position: relative;
}

.dt-service-img {
  width: 100%;
  height: 100%;
}

.dt-service-desc-content {
  width: 100%;
  height: 100%;
  padding: 3.645833vw 4.166667vw;
  background: rgba(68, 160, 147, 0.87);
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.dt-service-title {
  font-size: 1.354167vw;
}

.dt-service-last-title {
  margin-bottom: 1.822917vw;
}

.dt-service-desc {
  font-size: 0.833333vw;
  margin-bottom: 0.416667vw;
}

.dt-service-list:hover .dt-service-desc-content {
  display: block;
}

.dt-service-list-jump {
  width: 17.5vw;
  height: 13.697917vw;
  background: rgba(243, 243, 243, 1);
  padding: 1.822917vw 5.208333vw 0 2.34375vw;
  position: relative;
}

.dt-service-number {
  font-size: 2.083333vw;
  color: #444444;
  margin-bottom: 1.5625vw;
}

.dt-service-number-desc {
  font-size: 1.041667vw;
  color: #444444;
}

.dt-service-btn {
  display: inline-block;
  width: 1.927083vw;
  height: 1.927083vw;
  background: url('/static/img/index/go.png') no-repeat 0 0/100% 100%;
  cursor: pointer;
  position: absolute;
  right: 1.510417vw;
  bottom: 1.666667vw;
}

/*公司案例的样式*/
.dt-case-content {
  width: 67.708333vw;
  margin: 0 auto;
  height: 26.041667vw;
  position: relative;
  margin-bottom: 8.854167vw;
}

.dt-case-inner-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.dt-case--list-content {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.dt-case-list {
  width: 67.708333vw;
  flex: 1;
  padding: 4.635417vw 1.770833vw 0 27.760417vw;
  position: relative;
}

.dt-case-list-desc-content {
  width: 34.427083vw;
  height: 21.770833vw;
  padding: 2.604167vw 6.5625vw 0 1.979167vw;
  position: absolute;
  top: 0;
  left: 1.770833vw;
  box-shadow: 0px 3px 20px 1px rgba(0, 0, 0, 0.08);
  background: #fff;
}

.dt-case-list-title {
  font-size: 1.354167vw;
  color: #333;
  position: relative;
  margin-bottom: 3.125vw;
}

.dt-case-list-title::before {
  display: inline-block;
  width: 5.208333vw;
  height: 0.15625vw;
  content: '';
  background: #44a093;
  position: absolute;
  left: 0;
  bottom: -0.520833vw;
}

.dt-case-list-desc {
  font-size: 0.9375vw;
  color: #979797;
  line-height: 2.135417vw;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.dt-case-img {
  width: 100%;
  height: 100%;
}

.dt-private-btn {
  margin-top: 1.5625vw;
}

.dt-case-btn {
  width: 2.708333vw;
  height: 2.708333vw;
  position: absolute;
  top: 50%;
  margin-top: -1.354167vw;
  cursor: pointer;
}

.dt-case-left {
  left: -3.645833vw;
}

.dt-case-right {
  right: -3.645833vw;
}

/*我们的团队样式*/
.dt-teams {
  width: 100%;
  height: 26.041667vw;
  background: url('/static/img/index/team-banner.png') no-repeat 0 0/100% 100%;
  padding-top: 3.802083vw;
  margin-bottom: 7.65625vw;
}

.dt-light-title {
  margin-bottom: 4.6875vw;
}

.dt-team-content {
  width: 67.708333vw;
  margin: 0 auto;
  color: #fff;
}

.dt-team-list-content {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  margin-bottom: 3.645833vw;
}

.dt-team-number {
  font-size: 1.458333vw;
  font-weight: bold;
  margin: 0 0.104167vw;
}

.dt-team-desc {
  width: 100%;
  padding: 0 6.25vw;
  font-size: 1.041667vw;
  text-align: center;
  line-height: 2.239583vw;
}

/*合作伙伴的样式*/
.dt-partern {
  width: 100%;
  margin-bottom: 8.854167vw;
}
.dt-partern-content {
  width: 67.708333vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.dt-partern-list {
  width: 16.927083vw;
  height: 5.9375vw;
  flex-shrink: 0;
  padding: 0.364583vw 0.46875vw;
  border-right: 1px solid rgba(210, 210, 210, 0.5);
  border-bottom: 1px solid rgba(210, 210, 210, 0.5);
}

.dt-partern-list:nth-child(4),
.dt-partern-list:nth-child(8),
.dt-partern-list:nth-child(12) {
  border-right: none;
}
.dt-partern-list:nth-child(9),
.dt-partern-list:nth-child(10),
.dt-partern-list:nth-child(11),
.dt-partern-list:nth-child(12) {
  border-bottom: none;
}

.dt-partern-img {
  width: 100%;
  height: 100%;
}
