/*头部样式*/
.dt-header-contain {
  width: 100%;
  height: 3.4375vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.dt-header-content {
  width: 67.708333vw;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dt-logo {
  width: 7.552083vw;
  height: 2.03125vw;
}

.dt-header-list-content {
  display: flex;
}

.dt-header-list {
  font-size: 0.833333vw;
  margin-left: 1.5625vw;
  cursor: pointer;
}

.dt-header-jump {
  color: #fff;
}

.dt-header-active-list {
  color: #48a799;
}

/*页面外壳样式*/
.dt-contain {
  width: 100%;
}

.dt-content {
  width: 67.708333vw;
  margin: 0 auto;
  padding-top: 8.333333vw;
}

.dt-content-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.666667vw;
  color: #454545;
  position: relative;
  margin-bottom: 6.770833vw;
}

.dt-content-title::before {
  display: inline-block;
  width: 4.166667vw;
  height: 0.15625vw;
  content: '';
  background: #44a093;
  position: absolute;
  left: 50%;
  margin-left: -2.083333vw;
  bottom: -1.041667vw;
}

.dt-content-sub-title {
  font-size: 1.25vw;
  color: #777777;
}

.dt-light-title,
.dt-light-title .dt-content-sub-title {
  color: #fff;
}
.dt-light-title::before {
  background: #fff;
}

/*页面banner样式*/
.dt-banner-contain {
  width: 100%;
  height: 26.041667vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dt-banner-img {
  width: 100%;
  height: 100%;
}

/*按钮的样式*/
.dt-btn {
  padding: 0.416667vw 2.083333vw;
  background: rgba(68, 160, 147, 1);
  border: 1px solid rgba(68, 160, 147, 1);
  border-radius: 1.041667vw;
  cursor: pointer;
  margin-top: 2.34375vw;
}

.dt-btn-tag {
  color: #fff;
}
